<head>
    <title>
        <%= title%>
    </title>
        
    <link rel="stylesheet" href="css/home.css">
    <body>
        

        <h1>This is home page of Chatter with layouts </h1>
       
    </body>
</head>