<link rel="stylesheet" href="/css/profile.css">
<div class="container">
    <div class="avatar-flip">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" height="150" width="150">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwXQluDJMo0JwPJ58C1rc7spimZHyMHhGANS1OuIveC7KEekRD8n2wRcCTtq9yHgIAmrE&usqp=CAU" height="150" width="150">
    </div>
    <h2><%= user.name%></h2>
    <h4>You are logged in using <%= user.email%></h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna ip sum dolore.</p>
    <p>Connec dolore ipsum faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>
  </div>