#home-container{
    display:flex;
    #feed-posts{
        width: 70%;
        padding: 10px;
      
    }

    ul{
        list-style-type: none;
    }

    #friend-list{
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        height: inherit;
    }
}