body {
  text-align: center;
  background-image: linear-gradient(to right bottom, #000000, #2c252b, #4c4757, #637089, #709db8, #62b4cd, #51cbda, #4ce2dd, #00e4cd, #00e5b5, #00e497, #00e272);
  background-size: cover;
}
